    <link rel="canonical" href="{{ request.build_absolute_uri }}">
{#    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" /> #}
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    {% if article.date_published %}<meta name="DC.date" content="{{ article.date_published|date:"Y-m-d" }}"/>{% endif %}
    <meta name="DC.description" xml:lang="en" content="{{ article.abstract | striptags }}"/>
    <meta name="DC.format" content="application/pdf"/>
    <meta name="DC.identifier" content="{{ article.url }}"/>
    {% if article.get_doi %}<meta name="DC.identifier" content="https://doi.org/{{ article.get_doi }}"/>{% endif %}
    <meta name="DC.language" scheme="ISO639-1" content="{{ article.iso6391 }}"/>
    <meta name="DC.rights" content="{{ article.licence.text | striptags }}"/>
    <meta name="DC.source" content="{{ journal_settings.general.journal_name }}"/>
    <meta name="DC.title" content="{{ article.title | striptags }}"/>
    {# Highwire Press Metadata, Google Scholar #}
    {% if article.publisher_name %}<meta name="citation_publisher" content="{{ article.publisher_name }}"/>
    {% elif journal_settings.general.publisher_name %}<meta name="citation_publisher" content="{{ journal_settings.general.publisher_name }}"/>
    {% endif %}
    <meta name="citation_title" content="{{ article.title | striptags }}"/>
    <meta name="citation_journal_title" content="{{ article.journal_title }}"/>
    <meta name="citation_issn" content="{{ article.journal_issn }}"/>
    {% for author in article.frozen_authors.all %}<meta name="citation_author" content="{{ author.full_name }}"/>{% if author.author.hasValidEmail %}<meta name="citation_author_email" content="{{ author.author.email }}"/>{% endif %}{% if author.author.institution %}<meta name="citation_author_institution" content="{{ author.institution }}"/>{% endif %}{% endfor %}
    {% if article.date_published %}<meta name="citation_publication_date" content="{{ article.date_published|date:"Y/m/d" }}"/>{% endif %}
    {% if article.issue.volume %}<meta name="citation_volume" content="{{ article.issue.volume }}"/>{% endif %}
    {% if article.issue.issue %}<meta name="citation_issue" content="{{ article.issue.issue }}"/>{% endif %}
    {% if article.page_number %}<meta name="citation_firstpage" content="{{ article.page_number }}"/>{% endif %}
    {% if article.get_doi %}<meta name="citation_doi" content="{{ article.get_doi }}"/>{% endif %}
    <meta name="citation_abstract_html_url" content="{{ article.url }}"/>
    {% if article.language %}<meta name="citation_language" content="{{ article.language }}"/>{% endif %}
    {% if article.keywords_en.count > 0 %}<meta name="citation_keywords" xml:lang="en" content="{% for keyword in article.keywords_en.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>{% endif %}
    {% if article.keywords_de.count > 0 %}<meta name="citation_keywords" xml:lang="de" content="{% for keyword in article.keywords_de.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>{% endif %}
    {% if article.pdfs.exists %}<meta name="citation_pdf_url" content="{% journal_url 'serve_article_pdf' 'id' article.id %}"/>{% endif %}
    {% if article.xml_galleys.exists %}<meta name="citation_xml_url" content="{% journal_url 'serve_article_xml' 'id' article.id %}"/>{% endif %}
    {% comment "twitter, facebook" %}
    {% include "elements/journal/social_meta.html" %}
    {% endcomment %}  

