{% extends "admin/core/base.html" %}}
{% load foundation %}
{% load static from staticfiles %}
{% load i18n %}
{% load field %}

{% load bool_fa %}

{% block title %}Edit Metadata - {{ article.pk }}{% endblock title %}


{% block breadcrumbs %}
    {{ block.super }}
    <li>Edit</li>
    <li>{{ article.title|safe }}</li>
    <li>Metadata</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns box">
        <div class="row expanded">
            <form method="POST"{% if journal_settings.general.abstract_required %} novalidate{% endif %}>
                <div class="title-area">
                    <h2>{% trans "Edit Metadata" %}</h2>
                    <a class="button" href="{{ return }}"><i class="fa fa-arrow-left"></i>Back</a>
                </div>
                <div class="content">
                    {% include "elements/translations/form_tabs.html" with object=article %}
                    {% include "elements/forms/errors.html" with form=info_form %}
                    {% csrf_token %}
                    <div class="row expanded">
                        <div class="large-12 columns">
                            {{ info_form.title|foundation }}
                        </div>
                        <div class="large-6 columns">
                            {{ info_form.subtitle|foundation }}
                        </div>
                        <div class="large-6 columns">
                            {{ info_form.title_de_tuw|foundation }}
                        </div>
                        <div class="large-6 columns">
                            {{ info_form.subtitle_de_tuw|foundation }}
                        </div>
                        <div class="large-10 columns end">
                            {{ info_form.abstract|foundation }}
                        </div>
                        <div class="large-10 columns end">
                            {{ info_form.abstract_de_tuw|foundation }}
                        </div>
                        {% if journal_settings.general.submission_summary %}
                        <div class="large-10 columns end">
                            {{ info_form.non_specialist_summary|foundation }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row expanded">
                        <div class="large-3 columns">
                            {{ info_form.language|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.section|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.license|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.article_number|foundation }}
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="large-3 columns">
                            {{ info_form.first_page|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.last_page|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.page_numbers|foundation }}
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.total_pages|foundation }}
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="large-3 columns">
                            <div class="large-12 columns">
                                <label>{{ info_form.peer_reviewed.label }}</label>
                                {{ info_form.peer_reviewed }} Check if this article is reviewed
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <div class="large-12 columns">
                                <label>{{ info_form.is_remote.label }}</label>
                                {{ info_form.is_remote }} {{ info_form.is_remote.field.help_text }}
                            </div>
                        </div>
                        <div class="large-3 columns">
                            {{ info_form.remote_url|foundation }}
                        </div>
                        <div class="large-3 columns end">
                            {{ info_form.primary_issue|foundation }}
                        </div>
                    </div>
                    {% if journal_settings.general.submission_competing_interests %}
                        <div class="large-10 columns">
                            {{ info_form.competing_interests|foundation }}
                        </div>
                    {% endif %}
                    <div class="large-10 columns">
                        {{ info_form.custom_how_to_cite|foundation }}
                    </div>
                    <div class="large-12 columns">
                        <label for="id_keywords">Keywords</label>
                        <input type="text" id="id_keywords" name="keywords" value="
                                {% if form.cleaned_data.keywords %}{{ form.cleaned_data.keywords }}{% else %}{% for keyword in article.keywords_lang_en %}{{ keyword.word }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"/>
                        {% trans "Hit Enter to add a new keyword." %}
                    <div class="large-12 columns">
                        <div class="row expanded">
                            <div class="large-12 columns">
                                <label for="id_keywords">Keywords</label>
                                <input type="text" id="id_keywords" name="keywords" value="


                                        {% if info_form.cleaned_data.keywords %}{{ info_form.cleaned_data.keywords }}{% else %}{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"/>
                                <p>Hit Enter to add a new keyword.</p>
                            </div>
                        </div>
                    </div>

                    <div class="large-10 columns">
                        {{ info_form.rights|foundation }}
                    </div>

                    {% include "admin/elements/submission/additional_fields.html" with form=info_form additional_fields=additional_fields %}

                    <div class="large-12 columns">
                        <label for="id_keywords_de">{% trans "Keywords (German)" %}</label>
                        <input type="text" id="id_keywords_de" name="keywords_de" value="
                                {% if form.cleaned_data.keywords_de %}{{ form.cleaned_data.keywords_de }}{% else %}{% for keyword in article.keywords_lang_de.all %}{{ keyword.word }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"/>
                        {% trans "Hit Enter to add a new keyword." %}
                    </div>
                </div>

                {% if additional_fields %}
                    <div class="title-area">
                        <h2>{% trans "Additional Fields"%}</h2>
                    </div>
                    <div class="content">
                    {% for additional_field in additional_fields %}
                        {% get_form_field info_form additional_field.name as field %}
                        <div class="{{ field.field.widget.attrs.div_class }} columns">
                            {{ field|foundation }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                <div class="title-area">
                    <h2>{% trans "Authors" %}</h2>
                    <a href="#" class="button" data-open="author">{% trans "Add Author" %}</a>
                </div>
                <div class="content">
                    <table class="small scroll">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Full Name" %}</th>
                            <th>{% trans "First Name" %}</th>
                            <th>{% trans "Middle Name" %}</th>
                            <th>{% trans "Last Name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Institution" %}</th>
                            <th>{% trans "Departement" %}</th>
                            <th>{% trans "Country" %}</th>
                            <th>{% trans "Correspondence Author" %}</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="sortable">
                        {% for f_author in article.frozen_authors %}
                            <tr id="authors-{{ f_author.pk }}">
                                <td><i class="fa fa-sort"></i></td>
                                <td>{{ f_author.full_name }}</td>
                                <td>{% if f_author.first_name %}{{ f_author.first_name }}{% endif %}</td>
                                <td>{% if f_author.middle_name %}{{ f_author.middle_name }}{% endif %}</td>
                                <td>{% if f_author.last_name %}{{ f_author.last_name }}{% endif %}</td>
                                <td>{{ f_author.author.email }}</td>
                                <td>{% if f_author.institution %}{{ f_author.institution }}{% endif %}</td>
                                <td>{% if f_author.department %}{{ f_author.department }}{% endif %}</td>
                                <td>{{ f_author.country.name }}</td>
                                <td>{% if article.correspondence_author and f_author.author == article.correspondence_author %}
                                    <i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                <td><a href="?author={{ f_author.pk }}&return={{ return }}"><i
                                        class="fa fa-edit">&nbsp;</i>Edit</a></td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="delete" value="{{ f_author.pk }}"><i
                                                class="fa fa-trash">&nbsp;</i>Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="large-12 columns">
                        <button type="submit" name="metadata" class="small success button">Update Metadata</button>
                    </div>
                </form>
             <div class="title-area">
                        <h2>Funding</h2>
                    </div>
                    <div class="content submission-content">
                        <div class="title-area">
                            <h2>Add Funding Source</h2>
                        </div>
                        <div class="row expanded">
                                <div class="large-8 columns">
                                    <input type="text" name="funder_text" id="funder_text" />
                                </div>
                                <div class="large-2 columns">
                                    <a class="button pull-right" onclick="javascript:search_fundref($('#funder_text').val())">Search for funder</a>
                                </div>
                                <div class="large-2 columns">
                                    <input id="funder_name" type="hidden" value="use_raw"/><input id="funder_doi" type="hidden" value=""/>
                                    <a class="warning button pull-right" data-open="add_funder_blank"><i class="fa fa-plus">&nbsp;</i>Add funder manually</a>
                                </div>
                        </div>
                    <div class="row expanded">
                        <div class="large-12 columns">
                            <span name="funder_list" id="funder_list"></span>
                        </div>
                    </div>

                    <div class="title-area">
                        <h2>Current Funders</h2>
                    </div>

                    <div class="row expanded">
                        <div class="large-12 columns">
                            <table class="scroll">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>FundRef ID</th>
                                    <th>Grant Number</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="sortable">
                                {% for funder in article.funders.all %}
                                    <tr id="funder-{{ funder.pk }}">
                                        <td>{{ funder.name }}</td>
                                        <td>{{ funder.fundref_id }}</td>
                                        <td>{{ funder.funding_id }}</td>
                                        <td><a href="{% url 'delete_funder' article.pk funder.pk %}?return={{ request.path|urlencode }}"><i
                                                class="fa fa-trash">
                                            &nbsp;</i></a></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">No funders added.</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>





                </div>
            </div>

            <div class="title-area">
                <h2>{% trans "Cited Reference" %}</h2>
                <a href="#" class="button" data-open="add_citref">{% trans "Add Cited Reference" %}</a>
            </div>

            <div class="row expanded">
                <div class="large-12 columns">
                    <table class="scroll">
                        <thead>
                        <tr>
                            <th>Text</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="sortable">
                        {% for citref in article.citedreference_set.all %}
                            <tr id="citref-{{ citref.pk }}">
                                <td>{{ citref.text }}</td>
                                <td><a href="{% url 'delete_citref' article.pk citref.pk %}?return={{ request.path|urlencode }}"><i
                                        class="fa fa-trash">
                                    &nbsp;</i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2">No cited references.</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>


            <div class="small reveal" id="add_funder_blank" data-reveal>
                <div class="card">
                    <div class="card-divider">
                        <h5>Add funder</h5>
                    </div>
                    <div class="card-section">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" id="funder_name" name="funder_name"/>
                                    <p class="help-text">Funder</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" id="funder_doi" name="funder_doi"/>
                                    <p class="help-text">Funder DOI (optional)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" name="grant_number" id="grant_number"/>
                                    <p class="help-text">Funder grant number (optional)</p>
                                </div>
                            </div>
                            <button type="submit" name="add_funder" class="success button">Add funder</button>
                            <button type="button" data-close="" class="close-button">&times;</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="small reveal" id="add_citref" data-reveal>
                <div class="card">
                    <div class="card-divider">
                        <h5>Add cited reference</h5>
                    </div>
                    <div class="card-section">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="large-12 columns">
                                    <input type="text" id="citref_text" name="citref_text"/>
                                    <p class="help-text">Cited reference text</p>
                                </div>
                            </div>
                            <button type="submit" name="add_citref" class="success button">Add cited reference</button>
                            <button type="button" data-close="" class="close-button">&times;</button>
                        </form>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    {% include "admin/elements/submission/edit_author.html" %}
{% endblock body %}


{% block js %}
    {% if modal %}
        {% include "admin/elements/open_modal.html" with target=modal %}
    {% endif %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="{% static "common/js/tagit.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_keywords").tagit(
                {allowSpaces: true});
            $("#id_keywords_de").tagit(
                {allowSpaces: true});
        });
    </script>


    <script src="{% static "admin/js/csrf.js" %}"></script>
    <script>
        $( "#sortable" ).sortable({
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '{% url 'order_authors' article.pk %}'
                });
            }
        });
        $( "#sortable" ).disableSelection();
    </script>
    <script>
        function onFunderTextEnterPress(event) {
            var code = event.keyCode || event.which;
            if(code == 13) {
                event.preventDefault();
                search_fundref($('#funder_text').val());
            }
        }
    </script>
    {% include "elements/jqte.html" %}
    {% include 'elements/fundref/fundref.html' %}
{% endblock js %}
