{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}
{% load securitytags %}
{% load files %}
{% load i18n %}
{% load field %}

{% block title %}Back Content Submission{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'backcontent' %}">Back Content</a></li>
    <li>{% if article.title %}{{ article.title }}{% else %}{% trans "New Article" %}{% endif %}</li>
{% endblock breadcrumbs %}
{% block head %}
    {{ block.super }}
    {{ article_form.media.css }}
{% endblock %}


{% block body %}
{% can_see_pii_tag article as can_see_pii %}
<div class="large-12 columns box">
    <div class="row expanded">
        <form method="POST"{% if journal_settings.general.abstract_required %} novalidate{% endif %}>
            <div class="title-area">
                <h2 id="edit-metadata">Edit Metadata</h2>
                <a class="button" href="{{ return }}"><i class="fa fa-arrow-left"></i>Back</a>
            </div>
            <div class="content">
                {% include "elements/forms/errors.html" with form=info_form %}
                {% include "elements/translations/form_tabs.html" with object=article %}
                {% csrf_token %}
                <div class="row expanded">
                    <div class="large-12 columns">
                        {{ article_form.title|foundation }}
                    </div>
                </div>
                <div class="row expanded">
                    <div class="large-12 columns">
                        {{ article_form.subtitle|foundation }}
                    </div>
                </div>
                    <div class="large-12 columns end">
                        {{ article_form.abstract|foundation }}
                    </div>
                </div>
                <div class="row expanded">
                    {% if journal_settings.general.submission_summary %}
                    <div class="large-12 columns end">
                        {{ article_form.non_specialist_summary|foundation }}
                    </div>
                    {% endif %}
                </div>
                <div class="row expanded">
                    <div class="large-3 columns">
                        {{ article_form.language|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.section|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.license|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.article_number|foundation }}
                    </div>
                </div>
                <div class="row expanded">
                    <div class="large-3 columns">
                        {{ article_form.first_page|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.last_page|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.page_numbers|foundation }}
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.total_pages|foundation }}
                    </div>
                </div>
                <div class="row expanded">
                    <div class="large-3 columns">
                        <div class="large-12 columns">
                            <label>{{ article_form.peer_reviewed.label }}</label>
                            {{ article_form.peer_reviewed }} Check if this article is reviewed
                        </div>
                    </div>
                    <div class="large-3 columns">
                        <div class="large-12 columns">
                            <label>{{ article_form.is_remote.label }}</label>
                            {{ article_form.is_remote }} {{ article_form.is_remote.field.help_text }}
                        </div>
                    </div>
                    <div class="large-3 columns">
                        {{ article_form.remote_url|foundation }}
                    </div>
                    <div class="large-3 columns end">
                        {{ article_form.primary_issue|foundation }}
                    </div>
                </div>
                {% if request.journal.submissionconfiguration.competing_interests %}
                    <div class="large-10 columns">
                        {{ article_form.competing_interests|foundation }}
                    </div>
                {% endif %}
                <div class="large-10 columns">
                    {{ article_form.custom_how_to_cite|foundation }}
                </div>
                <div class="large-10 columns">
                    {{ article_form.rights|foundation }}
                </div>

                <div class="row expanded">
                <div class="large-9 columns">
                    {{ article_form.keywords|foundation }}
                </div>
                <div class="large-3 columns end">
                    {{ article_form.jats_article_type_override|foundation }}
                </div>
                </div>
                <div class="row expanded">
                <div class="large-9 columns">
                    {{ article_form.keywords_de|foundation }}
                </div>
                </div>
            </div>

            {% include "admin/elements/submission/additional_fields.html" with form=article_form additional_fields=additional_fields %}    
                
            <div class="title-area">
                <h2>{% trans "Galleys" %}</h2>
            </div>
            <div class="content">
                <table id="upload-table" class="table table-bordered table-condensed small">
                    <tr style="text-align: left">
                        <th>{% trans "Label" %}</th>
                        <th width="25%">{% trans "Filename" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Download" %}</th>
                        <th>{% trans "Replace" %}</th>
                        <th>{% trans "History" %}</th>
                        <th>{% trans "Create PDF" %}</th>
                        <th>{% trans "Create EPUB" %}</th>
                    </tr>
                    {% for galley in galleys %}
                        {% can_view_file galley.file as can_view_file_flag %}
                        {% can_edit_file galley.file article as can_edit_file_flag %}
                        {% can_view_file_history galley.file article as can_view_file_history_flag %}
                        <tr>
                            <td>{{ galley.label }}</td>
                            <td>{{ galley.file.original_filename|truncatechars:40 }} {% if galley.label == 'XML' %}
                                &nbsp;
                                <small><a target="_blank"
                                            href="{% url 'backcontent_preview_xml_galley' article.pk galley.pk %}"><i
                                        class="fa fa-search" aria-hidden="true">&nbsp;</i>Preview</a>
                                </small>{% endif %}</td>
                            <td>Galley</td>
                            <td><a href="{% url 'pm_edit_galley' article.pk galley.pk %}?return={{ request.path|urlencode }}" class="fa fa-edit"></a>
                            </td>
                            <td>{% if can_view_file_flag %}
                                <a href="{% url 'article_file_download' 'id' article.pk galley.file.pk %}"><i
                                        class="fa fa-download">&nbsp;</i></a>{% endif %}
                            </td>
                            <td>{% if can_edit_file_flag %}
                                <a href="{% url 'article_file_replace' 'id' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                        class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}
                            </td>
                            <td>{% if can_view_file_history_flag %}
                                <a href="{% url 'file_history' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                        class="fa fa-history">
                                    &nbsp;</i></a>{% endif %}
                            </td>
                            <td>
                                {% if galley.file.mime_type == 'application/xml' and not galley.has_missing_image_files %}
                                    <a href="{% url 'cassius_generate' galley.pk %}?return={{ request.path|urlencode }}">
                                        <i class="fa fa-file-text-o">&nbsp;</i>
                                    </a>
                                {% elif not galley.file.mime_type == 'application/xml' %}
                                    Function for XML only.
                                {% elif galley.file.mime_type == 'application/xml' and galley.has_missing_image_files %}
                                    <p><span data-tooltip aria-haspopup="true" class="has-tip top"
                                                data-disable-hover="false"
                                                tabindex="2"
                                                title="{% has_missing_supplements galley %}">Missing Supplements</span>
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                {% if galley.file.mime_type == 'application/xml' and not galley.has_missing_image_files %}
                                    <a href="{% url 'epub_generate' galley.pk %}?return={{ request.path|urlencode }}">
                                        <i class="fa fa-book">&nbsp;</i>
                                    </a>
                                {% elif not galley.file.mime_type == 'application/xml' %}
                                    Function for XML only.
                                {% elif galley.file.mime_type == 'application/xml' and galley.has_missing_image_files %}
                                    <p><span data-tooltip aria-haspopup="true" class="has-tip top"
                                                data-disable-hover="false"
                                                tabindex="2"
                                                title="{% has_missing_supplements galley %}">Missing Supplements</span>
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9">{% trans "No galleys have been uploaded." %}</td>
                        </tr>
                    {% endfor %}
                </table>
                <a class="button success float-right" data-open="uploadbox"><i class="fa fa-cloud-upload">
                    &nbsp;</i>{% trans "Upload a new galley" %}</a>
            </div>
            <div class="reveal" id="uploadbox" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
                <div class="card">
                    <div class="card-divider">
                        <h4><i class="fa fa-upload">&nbsp;</i>Upload Galley</h4>
                    </div>
                </div>
                <div class="card-section">
                    {% if error %}
                        <div class="alert alert-warning" role="alert">{{ error }}</div>
                    {% endif %}
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% csrf_token %}

                    <p class="help-text">Galley labels are displayed in download links and have the format "Download Label" eg. if you set the label to be PDF the link will be Download PDF. If you want Janeway to set a label for you, leave it blank.</p>
                    <div class="clearfix">
                        <div>
                            {{ galley_form|foundation }}
                            <button type="submit" class="button success float-right" name="other"><i
                                    class="fa fa-upload">
                                &nbsp;</i>Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>                    
            <div class="title-area">
                <h2>{% trans "Publication Info" %}</h2>
            </div>
            <div class="content">
                <div class="large-4 columns">
                    {{ pub_form.date_published|foundation }}
                </div>
                <div class="large-4 columns">
                    {{ pub_form.date_accepted|foundation }}
                </div>
                <div class="large-4 columns">
                    {{ pub_form.render_galley|foundation }}
                </div>
                <div class="large-12 columns">
                    {% if article and article.date_published %}
                    <p>{% trans "More Pub Info is available on the" %} <a href="{% url 'publish_article' article.pk %}">{% trans "Pre Publication Checklist" %}</a>.</p>
                    {% endif %}
                </div>
            </div>
            <div class="title-area">
                <h2>{% trans "Publish" %}</h2>
            </div>
            <div class="content">
                <p>{% trans "When you are ready to publish your article, press the publish button and it will be published." %}</p>
                <div class="large-12 columns">
                    {% csrf_token %}
                    <button class="success button pull-right" type="submit" name="publish">
                        <i class="fa fa-check-circle">&nbsp;</i>{% trans "Publish" %}
                    </button>
                    <button class="success button pull-right" type="submit" name="draft" formnovalidate>
                        <i class="fa fa-check-circle">&nbsp;</i>{% trans "Save as Draft" %}
                    </button>
                    <button class="success button pull-right" type="submit" name="delete" formnovalidate>
                        <i class="fa fa-check-circle">&nbsp;</i>{% trans "Delete" %}
                    </button>
                </div>
            </div>
        </form>

        <div class="title-area">
            <h2>{% trans "Article Authors" %}</h2>
        </div>
        {% include "admin/elements/current_authors.html" %}
        <div class="columns">
            <div class="box">
            <div class="row expanded">
                <div class="columns title-area">
                <h2>{% trans "Add more authors" %}</h2>
                </div>
            </div>
            <div class="row expanded">
                <div class="large-12 columns max-w-40">
                <div class="callout">
                    <p>
                    {% blocktrans with journal=request.journal.name press=request.press.name %}
                        Some authors may already be registered in <i>{{ journal }}</i>,
                        {{ press }}, or <a href="https://orcid.org/"
                        target="_blank">the ORCID registry<span
                        class="show-for-sr">(opens in new tab)</span></a>.
                        You can check by searching for
                        their email or ORCID. If a match is found, they will be added to
                        the author list.
                    {% endblocktrans %}
                    </p>
                    <form method="POST" action="{% url 'backcontent_add_author' article.pk %}?next={{ request.get_full_path|urlencode }}">
                    {% csrf_token %}
                    <label for="author_search_text">
                        <strong>{% trans "Search" %}</strong>
                    </label>
                    <input
                        id="author_search_text"
                        name="author_search_text"
                        placeholder="e.g. 0000-0001-2345-6789"
                        type="search">
                    <div class="button-group">
                        <button type="submit" class="button" name="search_authors">
                        <span class="fa fa-search"></span>
                        {% trans "Add author from search" %}
                        </button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="row expanded">
                <div class="large-12 columns max-w-56 float-left">
                <div class="callout">
                    <p>{% blocktrans %}
                    If you cannot find the author in the search,
                    you can add them manually.
                    {% endblocktrans %}</p>
                    <form method="POST" action="{% url 'backcontent_add_author' article.pk %}?next={{ request.get_full_path|urlencode }}">
                    {% csrf_token %}
                    <div class="flex direction-column row-gap-0">
                        <div class="grid auto row-gap-0">
                        {% include "admin/elements/forms/field.html" with field=author_form.first_name %}
                        {% include "admin/elements/forms/field.html" with field=author_form.middle_name %}
                        {% include "admin/elements/forms/field.html" with field=author_form.last_name %}
                        </div>
                        <div class="grid auto row-gap-0">
                        {% include "admin/elements/forms/field.html" with field=author_form.name_prefix %}
                        {% include "admin/elements/forms/field.html" with field=author_form.name_suffix %}
                        {% include "admin/elements/forms/field.html" with field=author_form.is_corporate %}
                        </div>
                        <div class="grid auto row-gap-0">
                        {% include "admin/elements/forms/field.html" with field=author_form.frozen_email %}
                        {% include "admin/elements/forms/field.html" with field=author_form.display_email %}
                        </div>
                        <div class="flex wrap gap-1 items-end">
                        <div class="button-group">
                            <button
                            name="add_author"
                            class="button">
                            <span class="fa fa-user-plus"></span>
                            {% trans "Add author manually" %}
                            </button>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ article_form.media.js }}
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="{% static "admin/js/csrf.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () 
        {
            // workaround
            // hides the article-jump elements which gets inherited from base.html
            $("#article-jump").hide();

            $("#upload-table").on("click", "a", function(e) {
                if(!confirm("This action will cause loss of all unsaved progress! Are you sure you want to continue?")) {
                    e.preventDefault()
                }
            })

            $("#uploadbox").on("click", "button", function(e) {
                e.preventDefault();

                $("#uploadbox button").prop("disabled",true);

                var csrf_token = $("#uploadbox input[name='csrfmiddlewaretoken']").val();
                var label = $("#uploadbox input[name='label']").val();
                var public = $("#uploadbox input[name='public']").prop('checked');
                var file =  $("#uploadbox input[name='file']")[0].files[0];
                var create_title_page = $("#uploadbox input[name='create_title_page']").prop('checked');

                var formData = new FormData();

                formData.append('csrfmiddlewaretoken', csrf_token);
                formData.append('label', label);
                if (public) { formData.append('public', public); }
                formData.append('file', file);
                if (create_title_page) { formData.append('create_title_page', create_title_page); }

                try 
                {
                     $.ajax({ 
                        url: '', 
                        type: 'post', 
                        data: formData, 
                        contentType: false, 
                        processData: false, 
                        success: function(response){ 
                            if(response != 0){ 
                                context = JSON.parse(response.context)
                                if(context.galley != undefined) {
                                    var jsonGalley = JSON.parse(context.galley)[0]

                                    var filename = file.name.length > 37 ? file.name.substring(0, 37) + "..." : file.name
                                    var editLink = '<a href="/production/' + jsonGalley.fields.article + '/galley/' + jsonGalley.pk + '/?return=/plugins/back_content/article/' + jsonGalley.fields.article + '/" class="fa fa-edit"></a>'
                                    var downloadLink = '<a href="/article/id/' + jsonGalley.fields.article + '/file/' + jsonGalley.fields.file + '/"><i class="fa fa-download"></i></a>'
                                    var replaceLink = '<a href="/article/id/' + jsonGalley.fields.article + '/file/' + jsonGalley.fields.file + '/replace?return=/plugins/back_content/article/' + jsonGalley.fields.article + '/"><i class="fa fa-cloud-upload"></i></a>'
                                    var historyLink = '<a href="/' + jsonGalley.fields.article + '/files/' + jsonGalley.fields.file + '/history/?return=/plugnis/back_content/article/' + jsonGalley.fields.article + '/"><i class="fa fa-history"></i></a>'
                                    
                                    var files = $("#upload-table > tbody > tr")
                                    var emptyFiles = files.eq(1).children().length === 1;

                                    if(emptyFiles) {
                                        files[1].remove();
                                    }

                                    $("#upload-table > tbody").append("<tr><td>" + jsonGalley.fields.label + "</td><td>" 
                                    + filename + "<td>Galley</td><td>" 
                                    + editLink + "</td><td>" 
                                    + downloadLink + "</td><td>" 
                                    + replaceLink + "</td><td>" 
                                    + historyLink + "</td>"
                                    + "<td>Function for XML only</td>"
                                    + "<td>Function for XML only</td></tr>");
                                }
                                messages = JSON.parse(response.msg)
                                if(messages != undefined) {
                                    for (var i = 0; i < messages.length; i++) {
                                        if(messages[i].tags == "success") {
                                            toastr.success(messages[i].message);
                                        } else if(messages[i].tags == "warn") {
                                            toastr.warn(messages[i].message);
                                        } else {
                                            toastr.error(messages[i].message);
                                        }
                                    }
                                }
                            } 
                            else{ 
                                alert('file not uploaded'); 
                            } 

                            $('#uploadbox').foundation('close');
                        }, 
                    }); 
                }
                finally 
                {
                    $("#uploadbox button").prop("disabled",false);
                }
            })
        });
    </script>
    {% include "elements/datepicker.html" with target=".datepicker" %}
{% endblock %}

{% block css %}
<style rel="stylesheet">
    .btn-group > button {
        margin-left: 6px;
        margin-right: 6px;
    }
</style>
{% endblock %}