{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}
{% load pages %}
{% load static %}

{% block page_title %}{% trans "Articles" %}{% endblock %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block body %}
    <div class="container-fluid mt-1">
    <div class="row">
        <div class="col-md-8">
            {% if pinned_articles and articles.number == 1 and not active_filters %}
                {% for article in pinned_articles %}
                    {% include "elements/article_listing.html" with article=article %}
                {% endfor %}
            {% endif %}

            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>No articles to display.</p>
            {% endfor %}

            <div class="pagination-block">
                <ul class="d-flex justify-content-center align-content-center">
                    <div class="align-self-center" style="margin-right: 15px;">
                    {% trans "page" context "fe-pagination" %} {{ articles.number }} / {{ articles.paginator.num_pages }} 
                    </div>                    
                    <a style="margin-right: 10px;" href="?page=1" class="btn btn-primary" style="margin-right: ;">&laquo;</a>
                    {% if articles.has_previous %}
                        <a style="margin-right: 15px;"href="?page={{ articles.previous_page_number }}" class="btn btn-primary">&lsaquo;</a>
                        &nbsp;{% endif %}
                        <label for="nav_in" style="display: none">Current</label> 
                        <input id="nav_in" style="margin-right: 15px; width: 10ch;"type="text" value="{{ articles.number }}" maxlength="3">
                        <label for="nav_goto" style="display: none;">Goto</label> 
                        <input id="nav_goto" style="margin-right: 15px;"type="submit" value="{% trans "Go to page" context "fe-pagination" %}"">

                    {% if articles.has_next %}
                        <a style="margin-right: 10px;" href="?page={{ articles.next_page_number }}" class="btn btn-primary">&rsaquo;</a>
                    {% endif %}
                    <a href="?page={{ articles.paginator.num_pages }}" class="btn btn-primary">&raquo;</a>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans "Show" %}
                                <select name="show" class="form-control" onchange="this.form.submit();">
                                    <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                                    <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                                    <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                                    <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Sort" %}
                                <select name="sort" class="form-control" onchange="this.form.submit();">
                                    <option value="-date_published"{% if sort == "date_published" %}
                                            selected="selected"{% endif %}>{% trans "Date" %}</option>
                                    <option value="title"{% if sort == "title" %}
                                            selected="selected"{% endif %}>{% trans "Title" %}</option>
                                </select>
                            </label>
                        </div>
                        <!--<div class="form-group">
                            <label>{% trans "Filter" %}</label><br/>
                            {% for section in sections %}
                                <label for="section-{{ section.id }}"><input id="section-{{ section.id }}"
                                                                             value="{{ section.id }}" type="checkbox"
                                                                             name="filter[]"
                                                                             {% if section.id in filters %}checked="checked"{% endif %}>&nbsp{{ section.name }}
                                </label><br/>
                            {% endfor %}
                            <br/>
                            <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                            {% if active_filters %}
                                <button type="submit" class="btn btn-primary"
                                        name="clear">{% trans "Clear Filters" %}</button>{% endif %}
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>    
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>

     <script type="text/javascript">
        $(document).ready(function () 
        {
            $("#nav_goto").on("click", function(e){
                e.preventDefault()
                
                val=$("#nav_in").val()

                if (val == parseInt(val,10))
                {
                    if ((val>=1) && (val<={{ articles.paginator.num_pages }}))
                    {
                        var url = "{% url 'journal_articles' %}";
                        url=url+"?page="
                        url=url+val
                        window.location = url
                    }
                }
            })
        })
    </script>
{% endblock %}