<h1>Imprint</h1>
<h2>Publisher:</h2>
<p><strong>Prof. Dr. Alexander Redlein</strong><br>
IFM - Real Estate and Facility Management, Institute of Management
Science, Vienna University of Technology</p>
<p><span>ISSN - print:</span> 2415-1858</p>
<p>ISSN - online: 2520-5404</p>
<p>Treitlstrasse 1-3, 5<sup>th</sup> Floor<br>
A - 1040 Vienna<br>
Austria<br>
Tel +43 1 58801 42700<br>
<a href=
"mailto:office@ifm.tuwien.ac.at">office@ifm.tuwien.ac.at</a><br>
<a href=
"http://institute.tuwien.ac.at/ifm/EN/">http://www.ifm.tuwien.ac.at</a></p>
<h2>Organisation:</h2>
<p><strong>Mag. Barbara Gurdet (formerly Barbara Gatscher)</strong>
<br><strong>Larissa Locsmandy</strong>
<br><strong>Dipl. Ing. Claudia H&ouml;henberger</strong>
<p><a href="mailto:office@ifm.tuwien.ac.at">office@ifm.tuwien.ac.at</a>
<br><a href="mailto:kongress@ifm.tuwien.ac.at">kongress@ifm.tuwien.ac.at</a>
<p>“Journal für Facility Management” is published as
Open-Access-Journal under the Creative Commons-Licence
Attribution-NonCommercial 2.0 Germany (cc) with two issues per year
and has an index in DOAJ. The journal underlies the IES
(International Ethical Standards).</p>
<p><img src=
"http://www.ub.tuwien.ac.at/repositum/data/ifm-journal/IES_Supporters_Logo_Navy.jpg"
alt="" width="172" height="83"></p>
<p>&nbsp;<a title="CC BY-NC" href=
"https://creativecommons.org/licenses/by-nc/2.0/de/deed.en"><img src="http://www.ub.tuwien.ac.at/repositum/data/ifm-journal/CC_BY_NC.png"
alt="" width="80" height="15"></a></p>
<p>Print copies can be ordered at <a href=
"mailto:office@ifm.tuwien.ac.at">office@ifm.tuwien.ac.at</a> The
autumn-issue is included in the congress-bag of the annual
congress. The International Facility Management Congress takes
place every year in November.</p>
</body>
</html>
