{% extends "core/base.html" %}
{% load truncate %}
{% load static from staticfiles %}
{% load i18n %}

{% block top_element %}
{% if journal.code == "OES" %}
<div class="row" style="margin-top: 15px;">
    <div class="col-md-3" > </div>
    <div class="col-md-7">
        <div class="card" style="border:2px outset rgba(0, 0, 0, 0.125)">
        <div class="card-block mb-2"">
            {% if LANGUAGE_CODE == 'en' %}
            <h3 class="card-title mb-2">About this journal</h3>
            <br>
            <p class="card-text">
                The journal “The Public Sector” is a major forum for debate on <strong>the role and challenges of public intervention</strong>, 
                with a particular focus on the relationship between economic and social change, policy design and policy impact on 
                different spatial levels. The journal is <strong>multidisciplinary</strong> and brings together contributions from public economics, 
                urban and regional planning, infrastructure policy, fiscal policy, environmental economics, land use policy and planning, 
                planning law, real estate management and housing economics, political science, urban sociology and related fields.
            <strong><i><a href="{{ request.scheme }}://{{ request.get_host }}/site/mission_statement" class="card-link">More...</a></i></strong>   
            {% else %}
            <h3 class="card-title mb-2">Über diese Zeitschrift</h3>
            <br>
            <p class="card-text">
                Die Zeitschrift „Der Öffentliche Sektor“ bietet eine Plattform zur Debatte über die 
                <strong>Bedeutung und Herausforderungen staatlicher Aufgabenerfüllung</strong>, mit besonderem Augenmerk auf die 
                Wechselwirkung zwischen gesellschaftlichem und wirtschaftlichem Wandel, politischer Steuerung und räumlicher Entwicklung auf 
                unterschiedlichen Ebenen (z.B. Stadtteil, Gemeinde, Region, Nationalstaat, intra- und internationale Ebene). Die Zeitschrift 
                verfolgt einen <strong>multidisziplinären Ansatz</strong> und publiziert Beiträge aus Finanzwissenschaft und 
                Fiskalpolitik, Raumplanung, Infrastrukturplanung und -politik, Bodenmanagement und -politik, 
                Ressourcenökonomie, Planungsrecht, Immobilienwirtschaft und Wohnungswesen, Politikwissenschaft, 
                Volkswirtschaftslehre, Stadtsoziologie sowie anderen verwandten Gebieten. 
               <strong><i><a href="{{ request.scheme }}://{{ request.get_host }}/site/mission_statement" class="card-link">Mehr...</a></i></strong>           
            {% endif %}
          </div>    
        </div>
    </div>
  
</div>
{% endif %}
{% endblock top_element %}

{% block body %}
{% for element in homepage_elements %}
{% include element.template_path %}
<hr>
{% endfor %}
{% endblock body %}