<p>Zurzeit haben wir keinen laufenden Call for Papers.
<p><br>Trotzdem freuen wir uns über mögliche Beiträge oder Fragen zur Einreichung unter:
<p>justin.kadi (at) tuwien.ac.at
<p>lena.ruecker (at) tuwien.ac.at
<p><br>Wenn Sie interessiert sind an der Veröffentlichung eines Artikels in „Der Öffentliche Sektor“, können Sie alle Informationen in unserer&nbsp;
<a href="https://www.ub.tuwien.ac.at/repositum/data/oes/OeS_PS_Author_Information_2018.pdf">Broschüre für AutorInnen</a> finden (Englisch).
