{% load staticfiles %}
{% load i18n %}
{% load pages %}

<div class="row">
        <div class="col-md-12 text-center">
            <h3 style="line-height: :">{{ issue.tuw_display_title }}</h3>
            {% if issue.issue_title %}
            <br>{{ issue.issue_title }}
            {% endif %}
            <br>{{ issue.date|date:"d.M.Y" }}
            <br>
        </div>
</div>

<div class="row" style="margin-top: 15px;">
{% if show_sidebar %}
    {% include "elements/journal/issue_sidebar.html" %}
{% endif %}
    {% include "elements/journal/issue_top.html" %}
</div>