{% extends "core/base.html" %}
{% load foundation %}
{% load static %}
{% load hooks %}
{% load i18n %}

{% block page_title %}{% trans "Newsletter" %}{% endblock %}

{% block title %}{% trans "Newsletter" %}{% endblock %}

{% block body %}
          <div>
              <form class="newsletter-form row" method="POST" action="javascript:sendForm();">
                  {% csrf_token %}
                  <div class="container-fluid">
                      <div class="row align-items-center" style="margin-top: 10px;">
                          <div class="col-1">
                              <label for="id_email">{% trans "Email" %}*</label>
                          </div>
                          <div class="col-4">
                            {{ newsletter_form.email }}
                          </div>
                        </div>

                    <div class="row align-items-center" style="margin-top: 10px;">
                        <div class="col-1">
                            <label for="id_confirm_email">{% trans "Confirm Email" %}*</label>
                         </div>
                        <div class="col-4">
                          {{ newsletter_form.confirm_email }}
                        </div>

                    </div>
                    <div class="row align-items-center" style="margin-top: 10px;">
                        <div class="col-1">
                            <label for="id_title_address">{% trans "Title" %}</label>
                        </div>
                        <div class="col-1">
                            {{ newsletter_form.title_address }}
                        </div>
                        <div class="col-3">
                            {{ newsletter_form.title }}
                        </div>
                    </div>
               
                    <div class="row align-items-center" style="margin-top: 10px;">
                        <div class="col-1">
                            <label for="id_firstname">{% trans "Firstname" %}</label>
                          </div>
                          <div class="col-4">
                            {{ newsletter_form.firstName }}
                        </div>
                    </div>
                    <div class="row align-items-center" style="margin-top: 10px;">
                        <div class="col-1">
                            <label for="id_lastName">{% trans "Lastname" %}*</label>
                          </div>
                          <div class="col-4">
                            {{ newsletter_form.lastName }}
                        </div>
                    </div>
                    <div class="row align-items-center" style="margin-top: 10px;">
                        <div class="col-1">
                            <label for="id_affiliation">{% trans "Affiliation" %}</label>
                          </div>
                          <div class="col-4">
                              {{ newsletter_form.affiliation }}
                        </div>
                    </div>
                    <div class="row align-items-center" style="margin-top: 10px;">
                      <div class="col-1">
                        {{ newsletter_form.confirm }}
                      </div>
                      <div class="col-6">
                          <label for="id_confirm">
                          {% blocktrans %}I'd like to be kept up to date by email about new issues of the journal "Der öffentliche Sektor / The Public Sector". I hereby consent that my personal data is processed for the purpose of informing me about the journal. I may revoke my consent at any time under article 7 §3 of the General Data Protection Regulation. {% endblocktrans %}
                          </label>
                    </div>
                  </div>

                    {{ newsletter_form.honeypot }}
                    <div class="row align-items-center justify-items-center" style="margin-top: 10px;">
                      <div class="col-1"></div>
                        <div class="col-4">
                                <button  class="success button" type="submit" name="submit_newsletter">{% trans "Subscribe" %}</button>
                          </div>
                    </div>
                  </div>                    
              </form>
              <script type="text/javascript">
                function sendForm() {
                  var confirm = $("#id_confirm").val()
                  var email = $("#id_email").val()
                  var emailConfirm = $("#id_confirm_email").val()
                  var titleAddress = $("#id_title_address").val()
                  var title = $("#id_title").val()
                  var firstname = $("#id_firstName").val()
                  var lastname = $("#id_lastName").val()
                  var affiliation = $("#id_affiliation").val()
                  
                  if(confirm) {
                    if(email == emailConfirm) {
                      var data = { vl_journal: 'oes', 
                                email: email,
                                institution: affiliation,
                                username:  lastname,
                                firstname: firstname,
                                anrede: titleAddress,
                                titel: title,
                                callback: 'jsonp_callback' }
                              
                      //jsonp_callback(JSON.stringify({ sysinfo: 'vorhanden'}))
                      $.ajax({
                        url: 'http://www.ub.tuwien.ac.at/repositum/notific_subscribe.php',
                        dataType: 'jsonp',
                        data: data
                      });
                    }
                  }
                }

                function jsonp_callback(text) {
                  res = $.parseJSON(text);

                  var el = $('<div class="alert alert-{{ message.tags }} alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>');

                  var message;
                  if(res.sysinfo=='Eingetragen'){
                    message = "Sie haben Sich erfolgreich für das Benachrichtungssystem des Journals für Facility Management angemeldet!";
                  }
                  else if(res.sysinfo=='vorhanden') {
                    message = "Sie sind bereits mit der angegebenen E-Mailadresse im System angemeldet!";
                  } else {
                    message = "Anmeldung zum Newsletter fehlgeschlagen";
                  }
                  
                  el.append(message)
                  el.appendTo($("body"))
                  
                  el.hide()
                  el.show(500)

                  setTimeout(function() { 
                    el.hide(500, function() {
                      el.remove()
                    })
                  }, 4000)
                }
                
              </script>
          </div>
{% endblock %}