{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static from staticfiles %}
{% load securitytags %}
{% load files %}
{% load i18n %}
{% block title %}External Sync{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'sync' %}">External Sync</a></li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="box">
                <div class="title-area">
                    <h2>{% trans "Articles" %}</h2>
                </div>
                <div class="content">
                    <table class="table table-bordered" id="datatable">
                        <thead>
                        <tr>
                            <th rowspan="2">{% trans "Id" %}</th>
                            <th rowspan="2">{% trans "Title" %}</th>
                            <th rowspan="2">
                            {% if request.journal.code == "JFM" or request.journal.code == "JFMT" %} 
                                {% trans "Issue" %}
                            {% elif request.journal.code == "OES" or request.journal.code == "OEST" %}
                                {% trans "Issue" context "oes" %}
                            {% else %}
                            {% endif %}
                            <th colspan="2">Datacite</th>
                            <th colspan="2">Alma</th>
                            <th rowspan="2">Actions</th>
                            </tr>
                        <tr>
                            <th>DOI</th>
                            <th>State</th>
                            <th>MMS Id / AC</th>
                            <th>Sync</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td><a href="{% url 'edit_metadata' article.pk %}">{{ article.id }}</a></td>
                                <td>{{ article.title }}</td>
                                {% if article.primary_issue %}
                                <td>{{ article.primary_issue.tuw_issue_count }}</td>    
                                {% else %}
                                <td></td>
                                {% endif %}
                                {% if article.get_doi %}                                
                                <td id="datacite_doi_{{ article.pk }}">{{ article.get_doi }}</td>
                                {% else %}
                                <td id="datacite_doi_{{ article.pk }}"></td>
                                {% endif %}                      
                                {% if article.datacite_state %}                                
                                <td id="datacite_state_{{ article.pk }}">{{ article.datacite_state }}</td>
                                {% else %}
                                <td id="datacite_state_{{ article.pk }}"></td>
                                {% endif %}                      
                                <td id="alma_mmsid_ac_{{ article.pk }}">
                                {% if article.get_mmsid %} {{ article.get_mmsid }} {% endif %}
                                {% if article.get_ac %} {% if article.get_mmsid %} <br> {% endif %} {{ article.get_ac }} {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 250px;">
                                        <li>
                                           <a href="#">Datacite</a>
                                            <ul class="vertical menu nested">
                                            <li>
                                                <a href="#" class="btn_datacite_metadata" id="btn_datacite_metadata_{{ article.pk }}">Register DOI / Update Metadata</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn_datacite_url" id="btn_datacite_url_{{ article.pk }}">Register URL</a>
                                            </li>
                                            <hr>
                                            <li>
                                                <a href="#" class="btn_datacite_check_metadata" id="btn_datacite_check_metadata_{{ article.pk }}">Check Metadata</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn_datacite_check_url" id="btn_datacite_check_url_{{ article.pk }}">Check URL</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn_datacite_delete_doi" id="btn_datacite_delete_doi_{{ article.pk }}">Delete DOI</a>
                                            </li>
                                          </ul>
                                        </li>
                                        <li><a href="#">Alma</a>
                                            <ul class="vertical menu nested">
                                            <li>
                                                <a href="#" class="btn_alma_create_update" id="btn_alma_create_update_{{ article.pk }}">Create / Update Record</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn_alma_push_nz" id="btn_alma_push_nz_{{ article.pk }}">Push To Network Zone</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn_alma_fetch_ac" id="btn_alma_fetch_ac_{{ article.pk }}">Fetch AC</a>
                                            </li>
                                            <hr>
                                            <li>
                                                <a href="#" class="btn_alma_view_current" id="btn_alma_view_current_{{ article.pk }}">View current marc record</a>
                                            </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>{% trans "No articles in this stage" %}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row expanded" style="min-height: 100px;">
        </div>
        </section>
{% endblock %}

{% block js %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/505bef35b56/integration/foundation/dataTables.foundation.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "common/css/toastr-2.1.1.css" %}">    
    <script src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="{% static "common/js/toastr-2.1.1.js" %}"></script>
    <script src="{% static "common/js/tagit.js" %}"></script>
    <script src="{% static "admin/js/csrf.js" %}"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/505bef35b56/integration/foundation/dataTables.foundation.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/plugins/foundation.reveal.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/plugins/foundation.dropdown.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/plugins/foundation.dropdownMenu.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>

    <script type="text/javascript">


        $(document).foundation();   

        $(document).ready(function () 
        {
            $(".btn_alma_create_update").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'alma_create_update',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var alma=response.alma;
                        var xml=alma.xml;
                        var mmsid=alma.mmsid;
                        var ac=alma.ac;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var content = '<div class="reveal small" id="modal" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Review metadata'+'</h2>';
                            if (warnings.length>0)
                            {
                                content+='<h3>Warnings</h3>';
                                contentl+='<p>'
                                var i;
                                for (i=0;i<warnings.length;++i)
                                {
                                    content+=warnings[i]+'<br>';
                                }
                                content+='</p>'
                            }
                                   
                            content+='<p class="lead"><pre>'+_.escape(he.decode(xml))+'</pre></p>'+
         			            '<button class="button success ok float-center">Upload to Alma</button>'+
			    		        '<button class="button alert cancel float-center" data-close>Cancel</button>'+
                                '</div>';

                            $('body').append(content);

                            var modal = new Foundation.Reveal($('#modal'));
                            modal.open();

                            $('#modal').children('.ok').on('click', function() 
                            {
			                    modal.close();
                                $('#modal').remove();
                                $('.reveal-overlay').remove();
                                almaCreateUpdateConfirm(id)                                
                            });
                            
                            $('#modal').children('.cancel').on('click', function() 
                            {
			                    modal.close();
			                    $('#modal').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })

            $(".btn_alma_push_nz").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'alma_push_nz',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var alma=response.alma;
                        var xml=alma.xml;
                        var mmsid=alma.mmsid;
                        var ac=alma.ac;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var content = '<div class="reveal small" id="modal" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Push To Network Zone'+'</h2>';
                            content+='<h3>Warnings</h3>';
                            content+="<p>Further updates to the record won't be possible. Are you sure?</p>"
                            content+='<button class="button success ok float-center">Push To Network Zone</button>'+
			    		        '<button class="button alert cancel float-center" data-close>Cancel</button>'+
                                '</div>';

                            $('body').append(content);

                            var modal = new Foundation.Reveal($('#modal'));
                            modal.open();

                            $('#modal').children('.ok').on('click', function() 
                            {
			                    modal.close();
                                $('#modal').remove();
                                $('.reveal-overlay').remove();
                                almaPushNZConfirm(id)                                
                            });
                            
                            $('#modal').children('.cancel').on('click', function() 
                            {
			                    modal.close();
			                    $('#modal').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })

            $(".btn_alma_fetch_ac").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'alma_fetch_ac',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var alma=response.alma;
                        var xml=alma.xml;
                        var mmsid=alma.mmsid;
                        var ac=alma.ac;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            str="";
                            if (mmsid) { str+=mmsid; }
                            if (ac) { if (mmsid) { str+="<br>";} str += ac; } 

                            console.log(str)

                            $("#alma_mmsid_ac_"+id).html(str)
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })


            $(".btn_alma_view_current").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'alma_view_current',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var alma=response.alma;
                        var xml=alma.xml;
                        var mmsid=alma.mmsid;
                        var ac=alma.ac;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var content = '<div class="reveal small" id="modal" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Current remote metadata'+'</h2>';
                            content+='<p class="lead"><pre>'+_.escape(he.decode(xml))+'</pre></p>'+
         			            '<button class="button success ok float-center">Close</button>'+
                                '</div>';

                            $('body').append(content);

                            var modal = new Foundation.Reveal($('#modal'));
                            modal.open();

                            $('#modal').children('.ok').on('click', function() 
                            {
			                    modal.close();
                                $('#modal').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })


            $(".btn_datacite_check_metadata").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'datacite_check_metadata',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var datacite=response.datacite;
                        var xml=datacite.xml;
                        var url=datacite.url;
                        var doi=datacite.doi;
                        var state=datacite.state;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var modal = '<div class="reveal small" id="check_metadata" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Current remote metadata'+'</h2>';
                            modal+='<p class="lead"><pre>'+_.escape(he.decode(xml))+'</pre></p>'+
         			            '<button class="button success ok float-center">Close</button>'+
                                '</div>';

                            $('body').append(modal);

                            var check_metadata = new Foundation.Reveal($('#check_metadata'));
                            check_metadata.open();

                            $('#check_metadata').children('.ok').on('click', function() 
                            {
			                    check_metadata.close();
                                $('#check_metadata').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })

            $(".btn_datacite_check_url").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'datacite_check_url',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var datacite=response.datacite;
                        var xml=datacite.xml;
                        var url=datacite.url;
                        var doi=datacite.doi;
                        var state=datacite.state;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var content = '<div class="reveal small" id="modal" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Current URL'+'</h2>';
                            content+='<p class="lead"><pre>'+_.escape(url)+'</pre></p>'+
                            '<button class="button success ok float-center">Close</button>'+
                                '</div>';

                            $('body').append(content);

                            var modal = new Foundation.Reveal($('#modal'));
                            modal.open();

                            $('#modal').children('.ok').on('click', function() 
                            {
			                    modal.close();
			                    $('#modal').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })



            $(".btn_datacite_delete_doi").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'datacite_delete_doi',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var datacite=response.datacite;
                        var xml=datacite.xml;
                        var url=datacite.url;
                        var doi=datacite.doi;
                        var state=datacite.state;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }
                            else
                            {
                                toastr.success("DOI deleted")
                            }
                            $("#datacite_state_"+id).html(state);
                            $("#datacite_doi_"+id).html(doi)
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })



            $(".btn_datacite_metadata").on("click", function(e)
            {
                e.preventDefault();

                var parts = this.id.split(/_/);
                var id = parts[parts.length-1]
                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'datacite_metadata',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var datacite=response.datacite;
                        var xml=datacite.xml;
                        var url=datacite.url;
                        var doi=datacite.doi;
                        var state=datacite.state;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            if (warnings && warnings.length>0)
                            {
                                toastr.warning(arrayToStringWithBr(warnings));
                            }

                            var modal = '<div class="reveal small" id="confirm_datacite_metadata" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Review metadata'+'</h2>';
                            if (warnings.length>0)
                            {
                                modal+='<h3>Warnings</h3>';
                                modal+='<p>'
                                var i;
                                for (i=0;i<warnings.length;++i)
                                {
                                    modal+=warnings[i]+'<br>';
                                }
                                modal+='</p>'
                            }
                                   
                            modal+='<p class="lead"><pre>'+_.escape(he.decode(xml))+'</pre></p>'+
         			            '<button class="button success ok float-center">Register</button>'+
			    		        '<button class="button alert cancel float-center" data-close>Cancel</button>'+
                                '</div>';

                            $('body').append(modal);

                            var confirm_datacite_metadata = new Foundation.Reveal($('#confirm_datacite_metadata'));
                            confirm_datacite_metadata.open();

                            $('#confirm_datacite_metadata').children('.ok').on('click', function() 
                            {
			                    confirm_datacite_metadata.close();
                                $('#confirm_datacite_metadata').remove();
                                $('.reveal-overlay').remove();
                                dataciteMetadataConfirm(id)                                
                            });
                            
                            $('#confirm_datacite_metadata').children('.cancel').on('click', function() 
                            {
			                    confirm_datacite_metadata.close();
			                    $('#confirm_datacite_metadata').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });
            })

            $(".btn_datacite_url").on("click", function(e)
            {
                e.preventDefault();
                    var parts = this.id.split(/_/);
                    var id = parts[parts.length-1]

                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }} ',
                    'article_id': id,
                    'operation': 'datacite_url',
                };

                $.ajax({              
                    url: '{{ request.path }}', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: false, 
                    processData: false,                     
                    success: function(response)
                    {
                        var errors=response.errors;
                        var warnings=response.warnings;
                        var datacite=response.datacite;
                        var xml=datacite.xml;
                        var url=datacite.url;
                        var doi=datacite.doi;
                        var state=datacite.state;

                        if (errors && errors.length>0)
                        {
                            toastr.error(arrayToStringWithBr(errors));
                        }
                        else
                        {
                            var modal = '<div class="reveal small" id="confirm_datacite_url" data-close-on-click="false" data-close-on-esc="false"'+
                                 '<h2>'+'Confirm URL'+'</h2>';
                            modal+='<p class="lead"><pre>'+_.escape(he.decode(url))+'</pre></p>'+
         			            '<button class="button success ok float-center">Register</button>'+
			    		        '<button class="button alert cancel float-center" data-close>Cancel</button>'+
                                '</div>';

                            $('body').append(modal);

                            var confirm_datacite_url = new Foundation.Reveal($('#confirm_datacite_url'));
                            confirm_datacite_url.open();

                            $('#confirm_datacite_url').children('.ok').on('click', function() 
                            {
			                    confirm_datacite_url.close();
                                $('#confirm_datacite_url').remove();
                                $('.reveal-overlay').remove();
                                dataciteURLConfirm(id)                                
                            });
                            
                            $('#confirm_datacite_url').children('.cancel').on('click', function() 
                            {
			                    confirm_datacite_url.close();
			                    $('#confirm_datacite_url').remove();
                                $('.reveal-overlay').remove();
                            });
                        }
                    },
                    error: function(response)
                    {
                        ajaxError()
                    }
                });

            })

            var table = $('#datatable').DataTable();
 
             table
                 .order( [[ 0, 'desc' ]] )
                .draw();
        })
        
        function dataciteMetadataConfirm(article_id)
        {
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }} ',
                'article_id': article_id,
                'operation': 'datacite_metadata_confirm',
            };

            $.ajax({              
                url: '{{ request.path }}', 
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: false, 
                processData: false,                     
                success: function(response)
                {
                    var errors=response.errors;
                    var warnings=response.warnings;
                    var datacite=response.datacite;
                    var xml=datacite.xml;
                    var url=datacite.url;
                    var doi=datacite.doi;
                    var state=datacite.state;
                    
                    if (errors && errors.length>0)
                    {
                        toastr.error(arrayToStringWithBr(errors));
                    }
                    else
                    {
                        $("#datacite_state_"+article_id).html(state);

                        old_val=$("#datacite_doi_"+article_id).html()
                        $("#datacite_doi_"+article_id).html(doi)
                        if (! old_val)
                        {
                            toastr.success("doi registered");
                        }
                        else
                        {
                            toastr.success("metadata updated");
                        }

                    }
                },
                error: function(response)
                {
                    ajaxError()
                }
            })
        }

        function dataciteURLConfirm(article_id)
        {
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }} ',
                'article_id': article_id,
                'operation': 'datacite_url_confirm',
            };

            $.ajax({              
                url: '{{ request.path }}', 
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: false, 
                processData: false,                     
                success: function(response)
                {
                    var errors=response.errors;
                    var warnings=response.warnings;
                    var datacite=response.datacite;
                    var xml=datacite.xml;
                    var url=datacite.url;
                    var doi=datacite.doi;
                    var state=datacite.state;

                    if (errors && errors.length>0)
                    {
                        toastr.error(arrayToStringWithBr(errors));
                    }
                    else
                    {
                        $("#datacite_state_"+article_id).html(state)
                    }
                },
                error: function(response)
                {
                    ajaxError()
                }
            })
        }

        function almaCreateUpdateConfirm(article_id)
        {
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }} ',
                'article_id': article_id,
                'operation': 'alma_create_update_confirm',
            };

            $.ajax({              
                url: '{{ request.path }}', 
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: false, 
                processData: false,                     
                success: function(response)
                {
                    var errors=response.errors;
                    var warnings=response.warnings;
                    var alma=response.alma;
                    var xml=alma.xml;
                    var mmsid=alma.mmsid;
                    var ac=alma.ac;
                    
                    if (errors && errors.length>0)
                    {
                        toastr.error(arrayToStringWithBr(errors));
                    }
                    else
                    {
                        str="";
                        if (mmsid) { str+=mmsid; }
                        if (ac) { if (mmsid) { str+="<br>";} str += ac; } 
                        $("#alma_mmsid_ac_"+article_id).html(str)
                    }
                },
                error: function(response)
                {
                    ajaxError()
                }
            })
        }

        function almaPushNZConfirm(article_id)
        {
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }} ',
                'article_id': article_id,
                'operation': 'alma_push_nz_confirm',
            };

            $.ajax({              
                url: '{{ request.path }}', 
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: false, 
                processData: false,                     
                success: function(response)
                {
                    var errors=response.errors;
                    var warnings=response.warnings;
                    var alma=response.alma;
                    var xml=alma.xml;
                    var mmsid=alma.mmsid;
                    var ac=alma.ac;
                    
                    if (errors && errors.length>0)
                    {
                        toastr.error(arrayToStringWithBr(errors));
                    }
                    else
                    {
                        toastr.info("Record successfully pushed to NZ.<br>Give it a while, then fetch AC.")
                    }
                },
                error: function(response)
                {
                    ajaxError()
                }
            })
        }


        function ajaxError()
        {
            errors=[];
            errors.push("request failed");
            errors.push("connection to server broken ?");
            toastr.error(arrayToStringWithBr(errors));
        }

        function arrayToStringWithBr(msg)
        {
            var str="";
            if (Array.isArray(msg))
            {
                var i;
                for (i=0;i<msg.length;++i)
                {
                    str+=msg[i];
                    if (i<(msg.length-1))
                    {
                        str+="<br>";
                    }
                }
            }
            else
            {
                str=msg;
            }
            return str;
        }
    </script>
{% endblock %}

{% block css %}
<style rel="stylesheet">
    .btn-group > a {
        margin-left: 6px;
        margin-right: 6px;
    }
</style>
{% endblock %}

