<OPTIONS>
error_threshold=0
error_die=1
conn_timeout=2
read_timeout=5
id_offset=9000
protocol=http://
<LOGIN>
endpoint=https://mds.test.datacite.org/
user=<user>
password=<password>
<JOURNAL aaa>
prefix=10.xxxx
namespace_separator=abc-devel
<JOURNAL OES>
prefix=10.xxx
namespace_separator=def-devel
