export LAAPY_TIMEOUT=2
export LAAPY_ERROR_THRESHOLD=1
export LAAPY_APITARGET=sandbox
export LAAPY_APIKEY_PRODUCTION="apikey l7xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export LAAPY_APIKEY_SANDBOX="apikey l7xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export LAAPY_APIKEY_ANALYTICS="apikey l7xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export LAAPY_DB_HOST="127.0.0.1"
export LAAPY_DB_PORT=3306
export LAAPY_DB_USER=<user>
export LAAPY_DB_PASSWORD=<password>
export LAAPY_DB_DATABASE=<database>
export LAAPY_DB_ACTIVE=false
