* {
    font-family: Verdana, "Helvetica Neue", Arial;
    font-size: 13.3px;
}

h1, h2, h3 {
    color: #274E90;
}

h1 {
    font-size: 120%;
    max-width: 55em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    
}

.navbar {
    padding: 0;
    background-color: transparent;
    flex-direction: column;
}

.navbar form {
    height: 100%;
}

.navigation {
    background-color: #103a59;
    padding: 2px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation > ul > li {
    border-right: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -2px;
    padding-top: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ddd;
}

.subheader {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #666;
    padding: .3em .4em .2em 2px;
    font-size: 13.3px;
}

.infotable {
    margin-bottom: 1em;
}

.infotable th {
    color: #666;
    width: 9em;
    padding: 0em 4px 0;
    font-weight: normal;
    vertical-align: top;
}

.fa-file-pdf-o {
    color: #0275d8;
}